doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Smartwatches

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      <!-- ######### HISTORY ########## -->
      section.title
        h1 Smartwatches

      section
        img(src="images/nerdwatch.jpeg")

      section
        h2 Geschichte

      section
        h2 1990 Seiko Receptor
        img(src="images/seiko_history-receptor-650-80.jpg")

      section
        h2 1998 Seiko Ruputer
        img(src="images/seiko_1.jpg")

      section
        h2 1999 Samsung SPH-WP10
        img(src="images/samsung_wp_10.jpg")

      section
        h2 2002 Fossil Wrist PDA
        img(src="images/fossil.jpg")

      section
        h2 2004 Microsoft SPOT
        video(controls)
          source(src="images/ms_spot.mp4" type="video/mp4")

      section
        h2 2010 Sony Ericsson LiveView
        img(src="images/sony-ericsson-watch-02.jpg" height="360")

      section
        h2 2012 Pebble Watch(Original/Steel)
        img(src="images/smart-pebble-650-80.jpg" height="320")

      section
        h2 2013 Samsung Galaxy Gear
        img(src="images/Samsung-gear-watches-650-80.jpg" height="320")

      section
        h2 2014 Android Wear
        img(src="images/moto360_block3-650-80.jpg")

      section
        h2 2015 Apple Watch
        img(src="images/apple_watch.JPG" height="320px")

      <!-- ######### END HISTORY ########## -->

      <!-- ######### POPULAR EXAMPLES ##### -->
      section
        h1 Vertreter und deren Technik

      section
        h1 Pebble Time,Original und Steel
      section
        img(src="images/pebble_time.jpg")
        small Pebble Time
      section
        img(src="images/pebble_original.jpg")
        small Pebble Original
      section
        img(src="images/pebble_orig_steel.jpg" width="320")
        small Pebble Original Steel
      section
        h3 Innenleben - 1
        ul
          li ARM Cortex-M3, up to 80 MHz with 512 KB (Pebble Orig/Steel)
          li ARM Cortex-M4, up to 100 MHz(Pebble Time)
          li 144x168(176ppi) E-Ink-Display - monochrome (Pebble Orig/Steel)
          li 144x168(176ppi) E-Ink-Display - multi color(Pebble Time)

      section
        h3 Innenleben - 2
        ul
          li 512kB ROM
          li 128kB RAM
          li 130mAh Battery(Orig/Steel)
          li 150mAh Battery(Time)
          li Akkulaufzeit ca. 1 Woche

      section
        h3 SDK
        ul
          li Apps in C oder Javascript
          li CloudPebble IDE
          li
            a(href="http://developer.getpebble.com/getting-started/") http://developer.getpebble.com/getting-started/

      section
        h1 Motorola Moto 360
        img(src="images/moto360_block3-650-80.jpg")

      section
        h3 Innenleben
        ul
          li TI OMAP 3 SoC
          li 1GHz Cortex A8
          li 512MB RAM
          li 4GB Flash
          li 320x290 LCD(205ppi)
          li Pedometer, Pulsmesser, Umgebungslichtsensor, Dual-Mikrofone
          li Wireless Charging Chip

      section
        img(src="images/ti_omap_3.jpg")

      section
        h3 SDK
        ul
          li Apps in Java
          li Android Studio IDE
          li
            a(href="https://developer.android.com/wear/index.html") https://developer.android.com/wear/index.html

      section
        h3 Apple Watch
        img(src="images/apple_watch.jpg")

      section
        h2 Innenleben - 1
        ul
          li
            Apples S1 - "System in Package"(SiP)
            br
            i Memory, Storage, Wireless, Sensores, I/O in a single package
          li "APL 0778" CPU (Taktrate???)
          li 512MB RAM
          li 8GB Flash

      section
        h2 Innenleben - 2
        ul
          li Wireless Charging Chip
          li NFC
          li 272x340 Retina AMOLED Screen(290ppi)
          li bzw. 312x390 Retina AMOLED Screen(302ppi)
          li Pulsmesser

      section
        h3 SDK
        ul
          li Apps in Objective-C oder Swift
          li XCode IDE
          li
            a(href="https://developer.apple.com/watchkit/") https://developer.apple.com/watchkit/

      section
        h3 Galaxy Gear S
        img(src="images/galaxy_gear.jpg")

      section
        h2 Innenleben - 1
        ul
          li Snapdragon 400 SoC
          li CPU 1GHz DualCore Krait 200
          li 521mb RAM
          li 4GB Flash

      section
        h2 Innenleben - 2
        ul
          li 360x480 Curved Super AMOLED (~300ppi)
          li Accelerometer, Gyroskop
          li Compass, Barometer
          li Pulsmesser, Umgebungslichtsensor, UV-Sensor

      section
        h3 SDK
        ul
          li Apps in HTML/Javascript
          li keine gesonderte IDE
          li
            a(href="https://developer.tizen.org/profiles/wearable") https://developer.tizen.org/profiles/wearable


      <!-- ######### END POPULAR EXAMPLES ##### -->

      <!-- ######### PROBLEMS ########## -->
      section
        h1 Probleme

      section
        h2 Akkus
        img(src="images/apple_watch_battery.jpg" height="320px")

      section
        h2 Akkus(AndroidWear + iOS)
        ul
          li immer noch zu groß
          li noch keine serienreifen Akkus,<br /> die in Armbänder integriert werden können
          li zu geringe Kapazität

      section
        h3 Content vs. Displaygröße


      <!-- ######### END PROBLEMS ########## -->
      section
        h1 Ausblick

      section
        h2 Armbänder
        ul
          li kontinuierliches Messen des Blutzuckers
          li Aufladen durch Bewegung
          li Armband = Akku
          li Diebstahlschutz

      <!-- section -->
      <!--   h2 Syntax Highlighting -->
      <!--   h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a> -->
      <!--   pre -->
      <!--     code.language-javascript. -->
      <!--       bespoke.from('article', [ -->
      <!--         classes(), -->
      <!--         keys(), -->
      <!--         touch(), -->
      <!--         bullets('li, .bullet') -->
      <!--       ]); -->

      <!-- section.emphatic-text(data-bespoke-backdrop='emphatic') -->
      <!--   h2 Emphatic Slide! -->
      <!--   h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a> -->


    script(src='build/build.js')
